<a href="https://colab.research.google.com/github/njones5714/My-notebook/blob/main/Copy_of_DSRP_Day_5_Lab_Notebook_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Titanic Project**
---

Through the following questions, you will hone and apply your skills to a famous dataset containing information about passengers on the Titanic and whether they survived or not: [Titanic dataset from Kaggle](https://www.kaggle.com/competitions/titanic/overview).


<br>

There are twelve columns in the dataset. The target column is `Survived` which indicates if a passenger survived (1) or not (0). The features initially available are:

* `PassengerId`: Numeric, a unique number for each passenger.
* `Pclass`: Numeric, the ticket class.	1 = 1st, 2 = 2nd, 3 = 3rd.
* `Name`: Categorical, the name of the passenger.
* `Sex`: Categorical, the sex of the passenger.
* `Age`: Numeric, the passenger's age in years.
* `Sibsp`: Numeric, the number of siblings / spouses aboard the Titanic.
* `Parch`: Numeric, the number of parents / children aboard the Titanic.
* `Ticket`: Categorical, ticket number.
* `Fare`: Numeric, passenger fare.
* `Cabin`: Categorical, cabin number.
* `Embarked`: Categorical, port of embarkation.	C = Cherbourg, Q = Queenstown, S = Southampton.
* `Hometown`: Categorical, passenger home town.
* `Destination`: Categorical, ultimate return point.
* `HasCabin`: Categorical, whether the passenger(s) had a cabin or not.

<br>

**Run the cell below to import all necessary libraries and functions.**

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt

import numpy as np

url = "https://github.com/the-codingschool/TRAIN-datasets/raw/main/titanic/titanic_cleaned.csv"
data = pd.read_csv(url)

#### **Problem #1**

Print the first 10 rows of the data.

In [ ]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Destination,HasCabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England","Qu'Appelle Valley, Saskatchewan, Canada",False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,"New York, New York, US","New York, New York, US",True
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",New York City,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US","Scituate, Massachusetts, US",True
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",New York City,False
5,6,0,3,"Moran, Mr. James",male,28,0,0,330877,8.4583,NaN,Q,"Cork, Ireland",New York City,False
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,"Dorchester, Massachusetts, US","Dorchester, Massachusetts, US",True
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,"Bjuv, Skåne, Sweden","Chicago, Illinois, US",False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,"St. Charles, Illinois, US","St. Charles, Illinois, US",False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,"Zahlé, Lebanon, Ottoman Empire","Cleveland, Ohio, US",False

#### **Problem #2**

Determine how many data points and how many variables are in this dataset using the `.shape` attribute.

In [ ]:
data.shape

(891, 15)

#### **Problem #3**

Now, get a general picture of the data's statistics using the `.describe()` method. Then, specifically determine:

* The average age of the passengers.
* The standard deviation (std) of the fare.

In [ ]:
# COMPLETE THIS CODE
data.describe()

,PassengerId,Survived,Pclass,Age,Sibsp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.345679,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.028212,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### **Problem #4**

Determine how many passengers did or did not survive using the `.value_counts()` method.

In [ ]:
# COMPLETE THIS CODE
data["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

#### **Problem #5**

Visualize the number of passengers who did versus did not survive using a bar graph.

In [ ]:
categories = ["Not Survived, Survived"]
bars = data["Survived"].value_counts()

plt.bar(categories, bars)

plt.ylabel("# of Passengers")
plt.xlabel("Status")
plt.title("Number of Passengers that survived or Died")

plt.show()

TypeError: 'tuple' object is not callable

#### **Problem #6**

Visualize the number of male versus female passengers.

In [ ]:
categories = ['Male', 'Female']
bars = data["Sex"].value_counts() # COMPLETE THIS CODE

plt.bar(categories, bars) # COMPLETE THIS CODE

plt.ylabel("Amount Depending on Sex")# COMPLETE THIS CODE
plt.xlabel("Gender")
plt.title("Number of Male versus Female")# COMPLETE THIS CODE

plt.show()

TypeError: 'tuple' object is not callable

#### **Problem #7**

Create the following two bar plots:
1. Number of males who did or did not survive.
2. Number of females who did or did not survive.

In [ ]:
categories = ['Not Survived', 'Survived']

male_data = data[data["# COMPLETE THIS CODE
male_bars = male_data[# COMPLETE THIS CODE

plt.bar(# COMPLETE THIS CODE

plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.show()

In [ ]:
# COMPLETE THIS CODE

#### **Problem #8**

Comparing these values can be difficult since there is a different number of males and females in this dataset as seen in Problem #6. To more properly compare, do the following:
1. Use the `.groupby(...)` method to group the data by sex.
2. Determine the mean value of `Survived` for males and females. **NOTE**: This represents the *fraction* of those who survived since `Survived` is either 0 or 1.
3. Visualize the results with a bar graph.

In [ ]:
grouped_data = data.groupby(# COMPLETE THIS CODE
surv_frac = grouped_data['Survived'].# COMPLETE THIS CODE

x_values = surv_frac.index
plt.bar(x_values, surv_frac)

plt.xlabel(# COMPLETE THIS CODE
plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.show()

#### **Problem #9**

Now, perform the same analysis as in Problem #8 using the variable `HasCabin` instead of `Sex`.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #10**

Performing the same type of analysis, determine which port of embarkation had the least survivors.

<br>

**NOTE**: The description of the dataset at the top of the notebook explains what each possible category (C, Q, S) means.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #11**

Performing the same type of analysis, determine if the passenger class had a noticeable effect on survival.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #12**

Performing the same type of analysis on the new variable created below, determine if the family size had a noticeable effect on survival.

In [ ]:
data['FamilySize'] = data['Sibsp'] + data['Parch'] + 1

# COMPLETE THIS CODE

#### **Problem #13**

For sake of comparison, visualize the fraction of survivors versus family size found in Problem #12 using a *line plot*.

In [ ]:
grouped_data = # COMPLETE THIS CODE
surv_frac = grouped_data[# COMPLETE THIS CODE

x_values = surv_frac.index
plt.# COMPLETE THIS CODE

plt.xlabel(# COMPLETE THIS CODE
plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.# COMPLETE THIS CODE

#### **Problem #14**

Visualize the fraction of survivors versus age using a scatter plot.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #15**

The results from Problem #14 are not very insightful because we are treating age like a categorical variable when it's realistically a numerical variable that can take on *many* values.

<br>

So, let's *make* a categorical age variable as follows:
1. Run the first cell to create this categorical variable.
2. Create a bar plot showing the survival rate versus age category.

In [ ]:
data['Age Category'] = 'unknown'

data['Age Category'][data['Age'] < 13] = 1
data['Age Category'][(data['Age'] >= 13) & (data['Age'] < 18)] = 2
data['Age Category'][(data['Age'] >= 18) & (data['Age'] < 35)] = 3
data['Age Category'][(data['Age'] >= 35) & (data['Age'] < 65)] = 4
data['Age Category'][data['Age'] >= 65] = 5

In [ ]:
# COMPLETE THIS CODE

#### **Problem #16**

Apply what you've learned about this data to *try* making predictions about who survived or not. Specifically,

1. Run the provided code to predict that only first class passengers survived (based on the fact that they had the highest survival rate). **Make sure you understand this code before moving on.**

2. Using the same approach, make predictions based on whether the passengers were male or female and considering the results you found above.

3. Using the same approach, make predictions based on which port the passengers embarked from and considering the results you found above.

In [ ]:
predicted_values = (data['Pclass'] == 1)

correct_predictions = (data['Survived'] == predicted_values)

correct_predictions.value_counts()

True     605
False    286
dtype: int64

In [ ]:
# COMPLETE THIS CODE

In [ ]:
# COMPLETE THIS CODE

#### **Reflection Questions**

If you wish to take your analysis further, consider reflecting on the following questions related to this project and in general:

1. How does each of the following variables relate to survival rates and why might this be?
> * Passenger class: `Pclass`
> * Sex: `Sex`
> * Embarkation port: `Embarked`
> * Age: `Age` and `Age Category`
> * Family Size: `Family Size`

1. How effective were each of the three variables used for prediction in Problem #16? What are the potential values and drawbacks of using this prediction approach generally?

1. What ethical considerations should be taken into account when analyzing sensitive data, such as information about individuals who were in a disaster such as this?