<a href="https://colab.research.google.com/github/njones5714/My-notebook/blob/main/DSRP_Day_1_Lab_Notebook_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Lab 1: Python Basics**
---


### **Description**
This lab is designed to provide hands-on practice with Python basics to solidify the foundation upon which we will build our machine learning and data science skills in the coming weeks.


<br>

### **Lab Structure**
**Part 1**: [Print Statements](#p1)

**Part 2**: [Variables and Data Types](#p2)

**Part 3**: [Arithmetic Operators](#p3)

**Part 4**: [Extra Practice](#p4) [optional]



<br>

### **Learning Objectives**
 By the end of this lab, we will:
* Recognize how information is outputted to the screen.
* Recognize that variables are a way to store data.
* Recognize the main data types and how to modify them with basic arithmetic operators.


<br>


### **Resources**
* [Python basics Cheat Sheet](https://docs.google.com/document/d/1P3mae56ecUhbi3zq5eCT9T7HamCGEcd3lqqdZvUZAvU/edit?usp=sharing)

<a name="p1"></a>

---
## **Part #1: Print Functions**
---

### **Problem #1.1**

Create a code cell and type: welcome = ("Hello!")
print (Hello!")

---
### **Problem #1.2**


Create a code cell and type: learning = ("Today I learned about the basics of Python programming!")
print ("Today I learned about the basics of Python programming!")

---

### **Now your turn! Try Problems #1.3-1.5 on your own.**

---


### **Problem #1.3**


Print your favorite color.

In [49]:
print('pink')

pink

---
### **Problem #1.4**


Print a sentence that describes what state or country you are from.

In [50]:
print ("I am from a rural state.")

I am from a rural state.

---
### **Problem #1.5**

Print the food you had for breakfast today.

In [51]:
print ("spaghetti")

spaghetti

---
### **Problem #1.6**

The ability to choose between single quotes and double quotes is useful when trying to print either of these characters. We can use one to print the other.

In [ ]:
print("My cat's name is Charlie.")

print('Charlie said "meow".')

My cat's name is Charlie.
Charlie said "meow".

---
###Back To Lab Slides
---


### **Problem #1.6**


Create a code cell and print your favorite number.
fav_number = (4)
print (4)

---
### **Problem #1.7**


Create a code cell and print the sum of 33 and -11.
Thirty-three = (33)
negative eleven = (-11)
print (33 + (-11))

---

### **Now your turn! Try Problems #1.8-1.11 on your own.**

---


### **Problem #1.8**


Print the number of months in a year.

In [52]:
print (12)

12

---
### **Problem #1.9**


Print the current year.

In [53]:
print (2025)

2025

---
### **Problem #1.10**


Print today's date in the following format: MDDYYYY.

In [54]:
print (772025)

772025

---
### **Problem #1.11**


Print the sum of your age plus the age of your best friend.
print (14 + 0)

---
###Back To Lab Slides
---

<a name="p2"></a>

---
## **Part #2: Variables & Data Types**
---

### **Problem #2.1**


Create a variable called `my_name` and assign it to your first name. Print this variable.

In [55]:
my_name = ("Naomi")

---
### **Problem #2.2**

Create and name a variable with your favorite number as an integer. Print that variable.

In [56]:
fav_number = (4)

---
### **Problem #2.3**

Create and name a variable with your favorite number as a float. Print that variable.

In [57]:
fav_number = (4.0)

---

### **Now your turn! Try Problems #2.4-2.6 on your own.**

---


### **Problem #2.4**



Look through the given declarations. Which ones are incorrect?

```
Var1 = 7
VAR5 = 8
2var = 92
first_last_name = "james gooding"
Hello! = 0.283
variable24 = "my favorite food is"
str = "string"
```
Hello! = 0.283
variable24 = "my favorite food is"

---
### **Problem #2.5**


Create and a name a variable that stores a list of 3 fruits. Print that variable.

In [58]:
fruits1 = ("banana, strawberry, mango")

---
### **Problem #2.6**

Create two variables to represent your height, one variable for feet, one for inches. Name your variables appropriately.

In [59]:
feet = (5)
inches = (6)

---
###Back To Lab Slides
---

<a name="p3"></a>

---
## **Part 3: Arithmetic Operators**
---

### **Problem #3.1**


Print the sum of 3 and 2. Take note of the output.

In [60]:
print (3 + 2)

5

---
### **Problem #3.2**


Print the sum of 7.0 and 2.0. Take note of the output.

In [61]:
print (7.0 + 2.0)

9.0

---
### **Problem #3.3**


What is 23 divided by 2? Print the answer. Take note of the output.

In [62]:
print (23 / 2)

11.5

---
### **Problem #3.4**


Print the product of 24.0 and 25.4. Take note of the output.

In [63]:
print ( 24.0 * 25.4)

609.5999999999999

---
### **Problem #3.5**


Create and name a variable `fav_number` with your favorite number as an integer. Multiply the variable by 3 and print the result.

In [64]:
fav_number = (4)
print (4 * 3)

12

---

### **Now your turn! Try Problems #3.6-3.10 on your own.**

---


### **Problem #3.6**


You have 2 bananas and 5 apples. How many fruits do you have in total?

In [65]:
bananas = 2
apples = 5
# COMPL
print ( 2 + 5)

7

---
### **Problem #3.7**


You got a 90 on your biology test, and then answered the extra credit question, which gave you an additional 4 points. Calculate and print your final grade.

In [66]:
original_grade = 90
bonus = 4
# add code here
print (90 + 4)

94

---
### **Problem #3.8**


The length and width of a rectangle are 5 and 8, respectively. Calculate the area of a rectangle using these variables and print the result.

In [67]:
length = 5
width = 8
# add code here
print ( 5 * 8)

40

---
### **Problem #3.9**


Create three variables `num1`, `num2`, and `num3` and assign them the values of 5, 24, and 67, respectively. Then calculate the average of these three numbers.

In [68]:
num1 = 5
num2 = 24
num3 = 67
print ( 5 + 24 + 67)

96

---
### **Problem #3.10**


Create a variable named `temperature` and assign a value of 25. Convert the temperature from Celsius to Fahrenheit using the formula (`temperature` * 9/5) + 32 and print the result.

In [74]:
temperature = (25)
print (25 * 9 / 5 + 32)

77.0

---
###Back To Lab Slides
---

<a name="p4"></a>

---
## **Part 4: Extra Practice** [OPTIONAL]
---

### **Problem #4.1**


What's wrong with the following declaration?

A)
```
1var = 323.0
The variable name starts with a number.
```
B)
```
month@month = "July"
The variable name has the @ symbol.
```

C)
```
month year = "july2020"
You aren't allowed to use a space in a variable.
```

---
### **Problem #4.2**


Create a list named `nums` with values 1, 2, and 3.

In [75]:
nums = [1, 2, 3]

---
### **Problem #4.3**


Divide 13 by 7. Make sure the answer has decimals.

In [76]:
print (13 / 7)

1.8571428571428572

---
### **Problem #4.4**


Starting with the code below, reassign the variable, `candybar`, to "Milkyway." Check to make sure it worked.

In [77]:
candybar = "Snickers"
candybar = "Milkyway"
# add code here

---
### **Problem #4.5**


Using the code below, what will print when you `print(bananas)`? Why?

```
bananas = 4
apples = 3
oranges = banana
bananas = 8
print(bananas)
4 will print when you ask to print bananas because that is what equals to.
```

---
### **Problem #4.6**


Name a variable `name` and assign it your name. Then change the value to your instructor's name.

In [78]:
first_name = ("Naomi")
first_name = ("Johnathan")

---
### **Problem #4.7**


Create a list named 'grocery_list' and add 5 items. Print the list.

In [79]:
grocery_list = ("Pineapples, Little Bites, Hot Sauce, Chips, Juice")

---
### **Problem #4.8**


What are the following data types?

```
4323 Interger

"word" String

[4.0, 25.4, 192.0] List

["apples", "bananas", "oranges"] List

-1.231 Float
```

---
### **Problem #4.9**


Create a list called `capitals` and list 5 U.S. State capitals.

Print the list.

In [80]:
capitals1 = ("Montgomery, Juneau, Phoenix, Little Rock, Sacremento")

---
### **Problem #4.10**


Your plant grew 5.3 inches in 10 days. Create a variable `height` and assign it to value 5.3. Create a variable `days` and assign it to value 10. Assuming your plant grew the same amount everyday, how much did it grow each day?

In [81]:
height = (5.3)
days = (10)
print (5.3 * 10)

53.0

---
### **Problem #4.11**


Jake has 5 bags of coins. Each bag has 18 coins in it. How many coins in total does Jake have? Create variables `bags` and `coins` and print their product: `total`.

In [ ]:
bags = (5)
coins = (18)

---
#End of notebook

© 2025 The Coding School, All rights reserved